@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
*{
    margin: 0px;
    padding: 0px;
	font-family: "Josefin Sans", sans-serif;
}

body{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(to bottom right, #aeaeb3, rgb(3, 8, 39));
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100%;
	margin: -20px 0 50px;
}


input{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}




