@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

#get {
    padding: 10px;
    border-radius: 2px;
}

#slot {
    position: relative;
    display: flex;
    margin: auto;
    padding: 0;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width: 40vw;
}

.card {

    margin: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(45px);
}



.container {
    position: relative;
    display: flex;
    flex-direction: row;

}

.card-title {
    color: #86c486;
}


.feetype {
    display: block;
    color: rgb(247, 245, 245);
    background-color: #29a329;
    font-weight: 500;
}

.start {
    color: #2383c4;
}

#footer{
    margin: auto;
    z-index: 10;
    align-items: center;
    padding: 20px;
    background-color: #e1e4f3;
    color: white;
}

.to {
    color: rgb(168, 19, 19);
}

.vac {
    color: #7017b9;
}

.findSlots {
    margin: 10px;
    align-items: center;
}

body {
    background-color: rgb(229, 238, 238);
}

  
.navbar-light .navbar-nav .nav-item .nav-link{
    font-weight: 900;
    font-size: 1.3em;
    color: #8a91a9;
  }
  
  .navbar-light .navbar-nav .nav-item .nav-link:hover,
  .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #4056A1;
  }
  
  .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #4056A1;
  }